<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Webgame</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/adminlte.min.css">
</head>
<body class="hold-transition layout-top-nav dark-mode accent-orange">
<div class="wrapper">

        {% include 'element/navigation.html.twig' %}

        <div class="content-wrapper">

                {% block content %}

                {% endblock %}

                </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>

        {% include 'element/footer.html.twig' %}
</div>

<script src="{{ app.request.getBaseURL() }}/plugins/jquery/jquery.min.js"></script>
<script src="{{ app.request.getBaseURL() }}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ app.request.getBaseURL() }}/js/adminlte.min.js"></script>
</body>
</html>
