<tr>
    <th scope="row">
        {{ item.id }}
    </th>
    <td>
        <img src="{{ item.iconUrl }}">
    </td>
    <td>
        {{ item.title }}
    </td>
    <td>{{ item.type }}</td>
    <td>{{ item.statpoint }}</td>
    <td>0</td>
</tr>